<div id="hands-div"><img id="hands-image" src="/images/handsagain.jpg"></div>
<footer class="footer">
    <div class="footer-copyright text-center py-3">© 2018 Copyright LocalVote</a>
    </div>
</footer>
