<div class="footer navbar-fixed-bottom">

<div id="hands-div">
    <div class="footer-copyright text-center py-3">
        <p>© 2018 Copyright <a href="https://github.com/BarbaraHernandez/localvote">LocalVote</a></p>
    {{!-- <img id="hands-image" src="/images/handsagain.jpg"></div> --}}
</div>
{{!-- <footer class="footer">
    <div class="footer-copyright text-center py-3">© 2018 Copyright LocalVote</a>
    </div>
</footer> --}}
</div>
