<div>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <img id="lvlogo" class="img-thumbnail" src="/images/lv.png">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
            <a class="nav-link" href="/policies">Policies<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
            <a class="nav-link" href="/submission">Submit<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
            <a class="nav-link" href="/auth/facebook">Sign In<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        </div>
</nav>
</div>
