{{> header}}
<div id="front-page-div" class="text-center">
  {{!-- <img src="/images/localVote.png">  --}}
  <img id="front-page-image" src="/images/imageandlogo.png">
</div>
{{> nav}} 



<div class="container">
  <div class="col-xs-12" style="height:30px;"></div>
  <div class="row">

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="/images/voting-day-photo.jpg" alt="voting image cap">
        <h5 class="card-header">Welcome to LocalVote</h5>
        {{!-- <div class="card-body">
          text
        </div> --}}
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <h5 class="card-header">What is LocalVote?</h5>
        <div class="card-body">
          <p>LocalVote is a policy proposal system. You can submit your own ideas for local policies, and we will pass them on to members of your local government.</p>
          <p>You can also see existing suggestions and vote on your favorites.</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <h5 class="card-header">Who can use LocalVote?</h5>
        <div class="card-body">
          <p>All citizens are encouraged to take part in their local goverment. Anyone who lives or works in the community can participate.</p>
          <p>Just log on with Facebook, and you can start getting involved in the political process. Make your voice heard today!</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-12" style="height:30px;"></div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Recent Policy</h5>
        <div class="card-body">
          {{#if policy}}
            <h5 class="card-title">{{policy.title}}</h5>
            <p class="card-text">{{policy.policyDetail}}</p>
            <form id="voteForm">
              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="yesVote" value="1" checked>
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="noVote" value="0">
                    No
                  </label>
                </div>
              </fieldset>
              <div>
                <button id="submit-vote" type="submit" class="btn btn-primary btn-lg">Submit Vote</button>
              </div>
            </form>
            {{else}}
            <h5 class="card-title">No policy found...</h5>
            {{/if}}
      </div>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>
  </div>
  </div>

 
  </div>
   {{> footer}}


      




