{{> header}}
<div id="front-page-div">
  {{!-- <img src="/images/localVote.png">  --}}
  <img id="front-page-image" src="/images/imageandlogo.png">
</div>
{{> nav}} 



<div class="container">
  <div class="col-xs-12" style="height:50px;"></div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      
<div><h3>LocalVote is a policy proposal system. Sign in to vote on local proposals to have your voice heard.
</h3><p>Policy proposals are voted on by local citizens. The information is viewed by local representatives.</p></div>
  <div class="card">
    <h5 class="card-header">Recent Policy</h5>
    <div class="card-body">
       {{#if policy}}
        <h5 class="card-title">{{policy.title}}</h5>
        <p class="card-text">{{policy.policyDetail}}</p>
        <form id="voteForm">
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="yesVote" value="1" checked>
                Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="noVote" value="0">
                No
              </label>
            </div>
          </fieldset>
          <div>
            <button id="submit-vote" type="submit" class="btn btn-primary btn-lg">Submit Vote</button>
          </div>
        </form>
        {{else}}
        <h5 class="card-title">No policy found...</h5>
        {{/if}}
    </div>
</div>

<div class="col-xs-12" style="height:50px;"></div>
      
{{!--  
<div class="jumbotron">
    <h4 class="display-4">Alcohol on Sundays</h4>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum eleifend libero a tristique lacinia. Donec non metus tortor. 
        Phasellus justo tortor, consectetur molestie augue at, elementum varius justo. 
        Aenean ac ante enim. </p>
    <hr class="my-4">
    <p>Please vote yes or no.</p>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <form>
        <fieldset class="form-group">
          <!-- <legend>Radio buttons</legend> -->
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="1" checked>
              Yes
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="0">
              No
            </label>
          </div>
        </fieldset>
        <div>
        <button type="submit" class="btn btn-primary btn-lg">Submit Vote</button>
        </div>
      </form>
    </div>
  </div>
</div> --}}

</div>
    <div class="col">
    </div>
  </div>
</div>

