{{> header}}
{{> nav2}}

<div class="col-xs-12" style="height:50px;"></div>

<div class="row">
  <div class="col">
  </div>
  <div class="col-8">

    <div class="card">
      <h5 class="card-header">Policy Detail</h5>
      <div class="card-body">
        {{#if policy}}
        <h5 class="card-title">{{policy.policy.title}}</h5>
        <p class="card-text">{{policy.policy.policyDetail}}</p>
          {{#if policy.voting}}
          <form id="voteForm" data-id="{{policy.policy.id}}">
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="yesVote" value="1" checked>
                  Yes
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="noVote" value="0">
                  No
                </label>
              </div>
            </fieldset>
            <div>
              <button id="submit-vote" type="submit" class="btn btn-primary btn-lg">Submit Vote</button>
            </div>
          </form>
          {{/if }}
          {{#if policy.voted}}
            {{#if policy.vote.choice}}
              You voted yes!
            {{/if}}
            {{#unless policy.vote.choice}}
              You voted no!
            {{/unless}}
          {{/if}}
          {{#if policy.unauthenticated}}
            Please sign-in to vote.
          {{/if}}
        {{else}}
        <h5 class="card-title">No policy found...</h5>
        {{/if}}
      </div>
    </div>



  </div>
  <div class="col">
  </div>
</div>
</div>

<div class="col-xs-12" style="height:50px;"></div>
