{{> header}}
{{> nav2}}
 <div class="jumbotron">
    <h4 class="display-4">Alcohol on Sundays</h4>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum eleifend libero a tristique lacinia. Donec non metus tortor. 
        Phasellus justo tortor, consectetur molestie augue at, elementum varius justo. 
        Aenean ac ante enim. </p>
    <hr class="my-4">
    <p>Please vote yes or no.</p>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <form>
        <fieldset class="form-group">
          <!-- <legend>Radio buttons</legend> -->
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="1" checked>
              Yes
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="0">
              No
            </label>
          </div>
        </fieldset>
        <div>
        <button type="submit" class="btn btn-primary btn-lg">Submit Vote</button>
        </div>
      </form>
    </div>
  </div>
</div>
