{{> header2}}
{{> nav2}}
<div class="container">    
  <div class="col-xs-12" style="height:50px;"></div>

  <div class="row">
    <div class="col-12">    
    <div class="card">
      <h5 class="card-header">Policy Proposals</h5>
      <div class="card-body">

        <div class="container">
          <input type="search" class="form-control" id="auto-complete" placeholder="Search">
        </div>

        <div class="container" id="search-results">
        </div>

      </div>
    </div>
    
  </div>
</div>


