{{> header2}}
{{> nav2}}

<div class="col-xs-12" style="height:50px;"></div>

 <div class="row">
    <div class="col">
    </div>
    <div class="col-10">

<div class="card">
   <h5 class="card-header">Policy Proposals</h5>
   <div class="card-body"></div>
  <h5 class="card-title"></h5>

<p class="card-text">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Topic</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Add a bike lane to Maple Street</td>
      <td>Infrastructure</td>
      <td>10/29/2018</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Reduce homicide rate at the Perimeter Mall</td>
      <td>Business</td>
      <td>11/19/2018</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Free pre-K</td>
      <td>Education</td>
      <td>11/20/2018</td>
    </tr>
  </tbody>
</table>
</p>


</div>


</div>
    <div class="col">
    </div>
  </div>
</div>


<div class="col-xs-12" style="height:50px;"></div>
