
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <form>
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

    </form>
    </div>
</div>