{{> header2}}
{{> nav2}}

<div class="container">
  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Proposed Policies</h5>
        <div class="card-body">

          <div class="flex-container">
            <input type="search" class="form-control" id="auto-complete" placeholder="Search">
          </div>

          <div class="flex-container" id="search-results">
          </div>

          <div class="flex-container" id="most-recent">
            {{#each policy}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a href="/policy/{{this.id}}">{{this.title}}</a></h3>
              </div>
              <div class="panel-body">{{this.policyDetail}}</div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-xs-12" style="height:30px;"></div>
</div>

{{> footer}}
