{{> header}}
{{> nav2}}

<div class="col-xs-12" style="height:50px;"></div>

<div class="row">
    <div class="col">
    </div>
    <div class="col-4">

{{!-- <div >

<div class="container"> --}}

<div class="card">
  <div class="card-header">
    Sign Up
  </div>
  <div class="card-body">
    <h5 class="card-title">Vote alongside your peers</h5>
    <p class="card-text">
<form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Enter New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
       <label for="exampleFormControlTextarea1">Age</label>
        <textarea class="form-control" id="submitAge" rows="1"></textarea>


    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    </p>


  </div>
{{!-- </div> --}}

  {{!-- <div>
   <h1>Sign Up</h1>
  </div>
  --}}
    {{!-- <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Enter New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
       <label for="exampleFormControlTextarea1">Age</label>
        <textarea class="form-control" id="submitAge" rows="1"></textarea>


    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> 

</div> --}}

</div>
    <div class="col">
    </div>
  </div>
</div>

<div class="col-xs-12" style="height:50px;"></div>
