{{> header}}
{{> nav2}}

<div class="container">
  <div class="col-xs-12" style="height:50px;"></div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Create a Policy
        </div>
        <div class="card-body">
          <h5 class="card-title">Post to LocalVote</h5>
          <p class="card-text">    
            <form id="newPolicy">
              <label for="exampleFormControlTextarea1">Title</label>
              <textarea class="form-control" id="submitTitle" rows="1"></textarea>

              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="submitDescription" rows="7"></textarea></p>

              <div class="form-group">
                      <label for="exampleSelect1">Select Topic</label>
                      <select class="form-control" id="selectTopic">
                      <option>Business</option>
                      <option>Recreation</option>
                      <option>Infrastructure</option>
                      <option>Schools</option>
                      <option>General</option>
                      </select>
              </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
        
    </div>
  </div>
</div>
