{{> header}}
{{> nav2}}

<div class="row">
    <div class="col">
    </div>
    <div class="col-10">


<div class="container">
  <div>
    <h1>Create A Policy</h1>
  </div>
 
    <form id="newPolicy">
        <label for="exampleFormControlTextarea1">Title</label>
        <textarea class="form-control" id="submitTitle" rows="1"></textarea>

        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="submitDescription" rows="7"></textarea>

             <div class="form-group">
                <label for="exampleSelect1">Select Topic</label>
                <select class="form-control" id="selectTopic">
                <option>General</option>
                <option>Business</option>
                <option>Recreation</option>
                <option>Infrastructure</option>
                <option>Schools</option>
                <option>Other</option>
                </select>
            </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</div>
    <div class="col">
    </div>
  </div>
</div>
