{{> header}}
{{> nav2}}
<div class="container" width=60%;>
  <div>
    <h1>Create A Policy</h1>
  </div>
 
    <form>
        <label for="exampleFormControlTextarea1">Title</label>
        <textarea class="form-control" id="submitTitle" rows="1"></textarea>

        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="submitDescription" rows="7"></textarea>

             <div class="form-group">
                <label for="exampleSelect1">Select Topic</label>
                <select class="form-control" id="exampleSelect1">
                <option>Business</option>
                <option>Recreation</option>
                <option>Infrastructure</option>
                <option>Schools</option>
                <option>Other</option>
                </select>
            </div>

        <label for="exampleFormControlTextarea1">Tags</label>
        <textarea class="form-control" id="tags" rows="1"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
