.nav-link {
  color:white;
}

.nav-link:hover {
  color: #fdaf40;
}

.list-group-item {
  line-height: 2.5;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: rgb(0, 63, 100);
  }

.radio {
  display: block;
}

.container {
  background-color: #e4ecef;
}

#lvlogo {
  width: 45px;
  max-height: 40px;
}

.jumbotron {
  /* width: 70%; */
  align-content: center;
  background-color: #fffeee;
}


/* textarea {
  display: block;
    margin-left: auto;
    margin-right: auto;
} */

.container {
  /* width: 60%; */
  background-color: #ffffff;
};

/* .vertical-center {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;
} */

#front-page-image {
  background-color: #fdaf40;
} 

#front-page-div {
  background-color: #fdaf40;
}

.topnav {
  float: right;
}

body {
  background-color: rgb(194, 194, 194);
}

.btn-primary,
.navbar {
  background-color: rgb(0, 63, 100);
  border: none;
}

#hands-div {
  background-color: white;
}

#hands-image {
  box-flex: center;
  max-width: 100%;
}

#brand {
  background-color:  rgb(0, 63, 100);
}

.sign-form {
  width: 30%;
  box-flex: center;
  align-content: center;
  min-width: 600px;
}

p, 
h1,
h2,
h3,
h4,
label, 
button {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.card-header {
  background-color: #fdaf40
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
