.list-group-item {
  line-height: 2.5;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: darkslategray;
  }

.radio {
  display: block;
}

.container {
  background-color: #e4ecef;
}

#lvlogo {
  width: 45px;
}

.jumbotron {
  /* width: 70%; */
  align-content: center;
  background-color: #fffeee;
}


/* textarea {
  display: block;
    margin-left: auto;
    margin-right: auto;
} */

.container {
  /* width: 60%; */
  background-color: #fffeee
};

/* .vertical-center {
  min-height: 100%;  
  min-height: 100vh; 

  display: flex;
  align-items: center;
} */

.front-page-image {
  display: block; 
  position: absolute;
  margin-left: auto; margin-right: auto;
  background-color: #fdaf40;
  max-width: 100%;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  display: block;
  overflow: auto;
} 

#front-page-div {
  background-color: #fdaf40;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

.topnav {
  float: right;
}

body {
  background-color: grey;
}

.navbar {
  background-color: tan;
}

#hands-div {
  background-color: white;
}

#hands-image {
  box-flex: center;
}

#brand {
  background-color: tan;
}

.sign-form {
  width: 30%;
  box-flex: center;
  align-content: center;
  min-width: 600px;
}

p, 
h1,
h2,
h3,
h4,
label, 
button {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.card-header {
  background-color: #fdaf40
}
