.list-group-item {
  line-height: 2.5;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: darkslategray;
  }

.radio {
  display: block;
}

.container {
  background-color: #e4ecef;
}

#lvlogo {
  width: 45px;
}

.jumbotron {
  /* width: 70%; */
  align-content: center;
  background-color: #fffeee;
}

.sign-up-form {
  width: 60%;
} 

/* textarea {
  display: block;
    margin-left: auto;
    margin-right: auto;
} */

.container {
  /* width: 60%; */
  background-color: #fffeee
};

/* .vertical-center {
  min-height: 100%;  
  min-height: 100vh; 

  display: flex;
  align-items: center;
} */

#front-page-image {
  display: block; margin-left: auto; margin-right: auto;
}

#front-page-div {
  background-color: #fdaf40;
}

.topnav {
  float: right;
}

body {
  background-color: grey;
}

.navbar {
  background-color: tan;
}

#hands-div {
  background-color: white;
}

#hands-image {
  box-flex: center;
}

#brand {
  background-color: tan;
}
